@import "./variables.scss";
@import "./breakpoints.scss";

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  padding: 10px 70px;

  @include lg {
    padding: 10px 30px;
  }

  &_left {
    max-width: 400px;

    img {
      margin-top: 20px;
      max-width: 100px;
    }

    .logoaf {
      display: none;
    }

    .logobf {
      display: block;
    }

    &:hover {
      .logoaf {
        display: block;
      }

      .logobf {
        display: none;
      }
    }
  }

  &_right {
    max-width: 350px;

    h3 {
      margin-bottom: 20px;
    }

    &_info {
      display: flex;

      p {
        margin-left: 20px;
        margin-bottom: 15px;
      }
    }

    @include sm {
      display: none;
    }

    .social-contact {
      display: flex;
      justify-content: space-between;
      list-style: none;
      font-size: 25px;

      .facebook {
        color: #316FF6;
      }

      .youtube {
        color: #CD201F;
      }

      .instagram {
        color: #000;
      }

      .line {
        color: #00C300;
      }
    }
  }
}