@import "./variables.scss";
@import "./breakpoints.scss";

.listing-fullimg {
  .close {
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: end;
    position: absolute;
  }

  h1 {
    margin-right: 20px;
    font-size: 50px;
    color: #fff;
    cursor: pointer;

    @include md {
      margin-right: 5px;
    }
  }

  .listing-container {
    background-color: #000;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .slider-listing {
      --swiper-navigation-size: 70px;
      --swiper-navigation-color: #FFF;
      --swiper-pagination-color: #FFF;
      width: 100%;
      height: 750px;
      overflow: hidden;
      margin-bottom: 10px;

      @include xxl {
        height: 650px;
        --swiper-navigation-size: 70px;
      }

      @include xx {
        height: 500px;
        --swiper-navigation-size: 70px;
      }

      @include xl {
        height: 650px;
        --swiper-navigation-size: 60px;
      }

      @include lg {
        height: 500px;
        --swiper-navigation-size: 50px;
      }

      @include ml {
        height: 550px;
        --swiper-navigation-size: 40px;
      }

      @include md {
        height: auto;
        --swiper-navigation-size: 30px;
      }

      .slider-img {
        .slide {
          background: #000;
          position: relative;
          width: 100%;
          height: 750px;
          display: flex;
          align-items: center;

          @include xxl {
            height: 650px;
          }

          @include xx {
            height: 500px;
          }

          @include xl {
            height: 650px;
          }

          @include lg {
            height: 500px;
          }

          @include ml {
            height: 600px;
          }

          @include md {
            height: auto;
          }

          img {
            max-width: 1000px;
            width: auto;
            height: 100%;
            filter: brightness(85%);

            @include xxl {
              max-width: 950px;
            }

            @include xx {
              max-width: 900px;
            }

            @include xl {
              max-width: 850px;
            }

            @include lg {
              max-width: 800px;
            }

            @include md {
              max-width: 500px;
            }

            @include ss {
              max-width: 360px;
            }
          }
        }
      }
    }
  }

}