@import "./variables.scss";
@import "./breakpoints.scss";

.listing-details {
  padding: 40px 130px 120px;

  @include xl {
    padding: 40px 80px 120px;
  }

  @include lg {
    padding: 40px 50px 120px;
  }

  @include sm {
    padding: 40px 20px 120px;
  }

  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include sm {
      flex-direction: column;
      align-items: flex-start;
      gap: 15px;
    }

    h1 {
      @include sm {
        font-size: 26px;
      }
    }

    .save {
      display: flex;
      align-items: center;
      gap: 10px;
      cursor: pointer;

      p {
        font-size: 20px;
        font-weight: 700;
        margin: 0;
      }
    }
  }

  .container {
    --swiper-navigation-size: 70px;
    --swiper-navigation-color: #f8f2eb;
    --swiper-pagination-color: #f8f2eb;
    width: 100%;
    height: 650px;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: #000;

    @include xxl {
      height: 550px;
      --swiper-navigation-size: 70px;
    }

    @include xl {
      height: 550px;
      --swiper-navigation-size: 60px;
    }

    @include lg {
      height: 500px;
      --swiper-navigation-size: 50px;
    }

    @include ml {
      height: 450px;
      --swiper-navigation-size: 40px;
    }

    @include md {
      height: 340px;
      --swiper-navigation-size: 30px;
    }

    .slider {
      display: flex;
      transition: transform 0.5s ease;

      .slide {
        background: #000;
        position: relative;
        width: 100%;
        height: 650px;
        display: flex;
        align-items: center;

        @include xxl {
          height: 550px;
        }

        @include xl {
          height: 550px;
        }

        @include lg {
          height: 500px;
        }

        @include ml {
          height: 450px;
        }

        @include md {
          height: 340px;
        }

        .swiper-container {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;

          img {
            cursor: pointer;
            // max-width: 100%;
            max-height: 100%;
            object-fit: contain;
          }
        }
      }
    }
  }

  .title-hero {
    display: flex;

    @include ml {
      font-size: 25px;
    }

    @include sm {
      font-size: 20px;
    }
  }

  hr {
    margin: 20px 0;
  }

  .details {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;

    @include mm {
      justify-content: center;
    }

    p {
      display: flex;
      justify-content: center;
      gap: 12px;
      align-items: center;
      width: 130px;
      height: 70px;
      border: 1px solid $grey;
      border-radius: 10px;
    }
  }

  .locationbtn {
    text-decoration: none;
    color: $darkorange;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    font-weight: 700;
    width: 100px;
    height: 50px;
    border: 2px solid $blue;
    border-radius: 10px;

    &:hover {
      @include shadow
    }
  }


  .profile {
    display: flex;
    gap: 20px;
    align-items: center;

    img {
      width: 60px;
      height: 60px;
      margin: 0;
    }
  }

  h3 {
    gap: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .verified{
    padding: 0px;
    max-width: 20px;
    max-height: 20px;
  }

  p {
    max-width: 800px;
    margin-top: 20px;
  }

  .description {
    white-space: pre-wrap;
    word-wrap: break-word;
  }

  .contract {
    margin-top: 20px;
  }

  .facilities {
    display: flex;
    justify-content: space-between;

    @include lg {
      flex-direction: column;
      gap: 50px;
    }

    .amenities {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 100px;
      margin: 30px 0;
      max-width: 700px;

      @include mm {
        grid-column-gap: 20px;
      }

      .facility {
        display: flex;
        align-items: center;
        gap: 20px;
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 10px;

        &_icon {
          font-size: 30px;
        }

        p {
          margin: 0;
        }

        @include sm {
          font-size: 15px;
        }

        @include ss {
          font-size: 14px;
        }
      }
    }
  }

  .contact {
    ul {
      display: flex;
      align-items: center;
      list-style: none;
      gap: 30px;
      height: 100px;

      a {
        cursor: pointer;
        border: 1px solid $blue;
        border-radius: 10px;
        padding: 10px;
        text-decoration: none;
        color: #000;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 40px;
        font-weight: 600;
        box-shadow: 2px 4px 4px rgb(209 222 245 / 100%);
      }

      & a:hover {
        background-color: #f2f2f2;
        padding: 12px;
      }

      .call {
        color: $pinkred;
      }

      .facebook {
        color: #316FF6;
      }

      .line {
        color: #00C300;
      }
    }
  }

}