@import "./variables.scss";
@import "./breakpoints.scss";

.navbar {
  padding: 5px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: #FFF;
  z-index: 9999;

  @include sm {
    padding: 5px 20px;
  }

  img {
    width: 70px;
    cursor: pointer;
  }

  .logo {
    .logoaf {
      display: none;
    }

    .logobf {
      display: block;
    }

    @media only screen and (min-width: 1025px) {
      &:hover {
        .logoaf {
          display: block;
        }

        .logobf {
          display: none;
        }
      }
    }
  }

  .type-menu {
    margin-left: 20px;
    margin-right: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    list-style: none;

    .type-menu-bar {
      color: $blue;
      font-size: 13px;
      font-weight: 600;
      text-decoration: none;
      text-transform: uppercase;
      display: inline-block;
      position: relative;
    }

    .type-menu-bar:after {
      background: none repeat scroll 0 0 transparent;
      border-radius: 10px;
      bottom: 0;
      content: "";
      display: block;
      height: 2px;
      left: 50%;
      position: absolute;
      background: $blue;
      transition: width 0.4s ease 0s, left 0.4s ease 0s;
      width: 0;
    }

    .type-menu-bar:hover:after {
      width: 100%;
      left: 0;
    }

    @include ml {
      display: none;
    }

  }


  &_right {
    display: flex;
    align-items: center;
    gap: 20px;

    .host {
      text-decoration: none;
      color: $blue;
      font-weight: 700;
      cursor: pointer;

      &:hover {
        color: $pinkred;
      }

      @include sm {
        display: none;
      }
    }

    &_accountcontainer {
      height: 50px;
      display: flex;
      align-items: center;
      padding: 0px 10px 0px 0px;
      border: 1px solid $blue;
      border-radius: 30px;
      display: flex;
      gap: 5px;
      background-color: white;

      .accounttype {
        border: none;
        border-radius: 30px;
        background-color: white;
      }

      img {
        margin-top: 3px;
        width: 40px;
        height: 40px;
        cursor: auto;
      }
    }

    &_accountmenu {
      position: absolute;
      background-color: white;
      right: 60px;
      top: 65px;
      display: flex;
      flex-direction: column;
      width: 300px;
      padding: 10px 0;
      border: 1px solid $lightgrey;
      border-radius: 20px;
      @include shadow;
      z-index: 9999;

      @include ml {
        left: 0;
        right: 0;
        width: 100%;
        border-radius: 0;
      }

      a {
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 8px 15px;
        text-decoration: none;
        color: $blue;
        font-weight: 700;

        &:hover {
          color: $pinkred;
          background-color: rgba(217, 213, 213, 0.2);
        }
      }

      .type-bar {
        display: none;

        @include ml {
          display: flex;
        }
      }

      .range-price {
        display: flex;

        p {
          color: $pinkred;
          margin-left: 23px;
          font-size: 18px;
          font-weight: 700;

          @include ml {
            font-size: 20px;
          }
        }
      }
    }
  }
}